
.common-not-home .header-main_area-2 .custom-category_col {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 18%;
    -ms-flex: 0 0 18%;
    flex: 0 0 18%;
    max-width: 18%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    display: inline-block;
    width: 18%;
}

.common-not-home .header-main_area-2 .custom-menu_col {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    display: inline-block;
    width: 50%;
}

.common-not-home .header-main_area-2 .custom-setting_col {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 32%;
    -ms-flex: 0 0 32%;
    flex: 0 0 32%;
    max-width: 32%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    display: inline-block;
    width: 32%;
}

.common-not-home .header-main_area .custom-search_col {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 36%;
    -ms-flex: 0 0 36%;
    flex: 0 0 36%;
    max-width: 36%;
}

.col-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.product-desc_info:hover{
    z-index: 999;
}
@media (min-width: 768px) {
    .d-md-block {
        display: block !important;
    }
}

@media (min-width: 992px) {
    .d-lg-none {
        display: none !important;
    }
}
@media only screen and (max-width: 1024px) {
    .slider-banner {
        margin-top: 160px !important;
    }
    .main-wrapper {
        margin-top: 160px !important;
    }
    #banner {
        margin-top: 160px !important;
    }

}

@media (max-width: 1599px) {
    .common-not-home .header-main_area-2 .custom-category_col {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 22%;
        -ms-flex: 0 0 22%;
        flex: 0 0 22%;
        max-width: 22%;
        display: inline-block;
        width: 22%;
    }

    .common-not-home .header-main_area-2 .custom-menu_col {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 53%;
        -ms-flex: 0 0 53%;
        flex: 0 0 53%;
        max-width: 53%;
        display: inline-block;
        width: 53%;
    }

    .common-not-home .header-main_area-2 .custom-setting_col {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
        display: inline-block;
        width: 25%;
    }

    .common-not-home .header-main_area .custom-search_col {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
    }
}

