.btn-card-header {
    float: right;
}
.label-card-title {
    height: 38px;
    display: flex;
    align-items: center;
    margin: 0 !important;
}
.w-100 {
    width: 100%;
}
.icon-action {
    margin: 10px;
    cursor: pointer;
}
.font-weight-400 {
    font-weight: 400 !important;
}
.image-wrapper {
    margin: 10px 0;
}
.img-preview {
    max-height: 150px;
    max-width: 150px;
}
.mg-b-15 {
    margin-bottom: 15px !important;
}
