.btn-card-header {
    float: right;
}
.label-card-title {
    height: 38px;
    display: flex;
    align-items: center;
    margin: 0 !important;
}
.w-100 {
    width: 100%;
}
.icon-action {
    margin: 10px;
    cursor: pointer;
}
