@media (max-width: 767px) {
    #left-banner {
        display: none;
    }
    #header-pc {
        display: none;
    }
    #product-slide .inner-slide {
        height: 260px !important;
    }
    .slider-banner {
        margin-top: 155px;
    }
}
@media (min-width: 768px) {
    #left-banner {
        display: none;
    }
    #header-pc {
        display: none;
    }
    #product-slide .inner-slide {
        height: 375px !important;
    }
}
/*@media only screen and (max-width: 1024px) {*/
/*    #header-pc {*/
/*        display: block;*/
/*    }*/
/*    #header-mobile {*/
/*        display: block;*/
/*    }*/
/*    #left-banner {*/
/*        display: none;*/
/*    }*/
/*    #product-slide .inner-slide {*/
/*        height: 330px !important;*/
/*    }*/
/*}*/

@media (min-width: 1024px) {
    #header {
        background-color: #000;
    }
    .megamenu-style-dev {
        display: block;
    }
    /*#header-pc {*/
    /*    display: none;*/
    /*}*/
    /*#left-banner {*/
    /*    display: none;*/
    /*}*/

    #header-pc {
        display: block;
    }

    #left-banner {
        display: block;
    }

    #header-mobile {
        display: none;
    }

    #product-slide .inner-slide {
        height: 330px !important;
    }
}
/*@media (min-width: 1024px) {*/
/*    #header-pc {*/
/*        display: none*/
/*    }*/
/*    #header-mobile {*/
/*        display: block*/
/*    }*/
/*    #slider {*/
/*        display: block;*/
/*    }*/
/*    .carousel-inner img{*/
/*        width: 100%;*/
/*        height: 300px !important;*/
/*    }*/
/*}*/
@media (min-width: 1200px) {
    #header-pc {
        display: block;
    }
    #header-mobile {
        display: none
    }
    .slider-banner {
        margin-top: 15px !important;
    }
    #banner {
        margin-top: 15px !important;
    }
    .carousel-inner img{
        width: 100%;
        height: 600px !important;
    }
    #header-pc {
        display: block;
    }
    #left-banner {
        display: block;
    }
}
.banner-left {
    padding: 15px;
}

.banner-content {
    height: 100%;
    width: 100%;
}
.main-wrapper {
    width: 100%;
    margin-top: 0px;
    position: absolute;
}

.common-not-home .header-main_area .custom-search_col {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 36%;
    -ms-flex: 0 0 36%;
    flex: 0 0 36%;
    max-width: 36%;
}

.col-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.product-desc_info:hover{
    z-index: 999;
}
@media (min-width: 768px) {
    .d-md-block {
        display: block !important;
    }
}

@media (min-width: 992px) {
    .d-lg-none {
        display: none !important;
    }
}
@media only screen and (min-width: 1024px) {
    .article-description {
        margin-top: 50px;
        margin-bottom: 30px;
    }
}
